<?xml version="1.0"?>
<!--
Copyright (c) <2012>, <Go Daddy Operating Company, LLC>
All rights reserved.
Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met:

    Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer.
    Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.

-->
<configuration>

	<appSettings>
		<add key="debug" value="true"/>
		<!--PSB Variables-->
		<add key="DEV.Connecturi" value=""/>
		<add key="TEST.Connecturi" value=""/>
		<add key="PROD.Connecturi" value="6"/>
		<add key="MsgTimeScale" value=".5"/>
		<add key="DEV.AtulAdminQueue" value=""/>
		<add key="TEST.AtulAdminQueue" value=""/>
		<add key="PROD.AtulAdminQueue" value=""/>
		
    <add key="DBUser" value=""/>
    <add key="DBPass" value=""/>
    <add key="DBServer" value=""/>
    <add key="DBName" value="t"/>
		<!--END PSB Variables-->
	</appSettings>
	<connectionStrings>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
				The <authentication> section enables configuration
				of the security authentication mode used by
				ASP.NET to identify an incoming user.
		-->
		<authentication mode="Windows"/>
		<!--
				The <customErrors> section enables configuration
				of what to do if/when an unhandled error occurs
				during the execution of a request. Specifically,
				it enables developers to configure html error pages
				to be displayed in place of a error stack trace.

				<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
				 <error statusCode="403" redirect="NoAccess.htm"/>
				 <error statusCode="404" redirect="FileNotFound.htm"/>
				</customErrors>
		-->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<!--
			The system.webServer section is required for running ASP.NET AJAX under Internet
			Information Services 7.0.  It is not necessary for previous version of IIS.
	-->
	<system.diagnostics>
		<switches>
			<!-- This switch controls data messages. In order to receive data
				 trace messages, change value="0" to value="1" -->
			<add name="DataMessages" value="1"/>
			<!-- This switch controls general messages. In order to
				 receive general trace messages change the value to the
				 appropriate level. "1" gives error messages, "2" gives errors
				 and warnings, "3" gives more detailed error information, and
				 "4" gives verbose trace information -->
			<add name="TraceLevel" value="4"/>
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="ATULAPI" type="System.Diagnostics.TextWriterTraceListener" initializeData="ATULAPI.log"/>
				<remove name="Default"/>
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>