<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.diagnostics>
    <switches>
      <!-- This switch controls data messages. In order to receive data
				 trace messages, change value="0" to value="1" -->
      <add name="DataMessages" value="1"/>
      <!-- This switch controls general messages. In order to
				 receive general trace messages change the value to the
				 appropriate level. "1" gives error messages, "2" gives errors
				 and warnings, "3" gives more detailed error information, and
				 "4" gives verbose trace information -->
      <add name="TraceLevel" value="4"/>
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="ATULAPI" type="System.Diagnostics.TextWriterTraceListener" initializeData="ATULAPI.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>